<form [formGroup]="bankForm" (ngSubmit)="onFormSubmit()" class="form">
  <label>Name:</label>
  <input type="text" formControlName="name" class="form__input">

  <label>InterestRate:</label>
  <input type="text" formControlName="interestRate" class="form__input">

  <label>Maximum loan:</label>
  <input type="text" formControlName="maxLoan" class="form__input">

  <label>Minimum down payment:</label>
  <input type="text" formControlName="minDownPayment" class="form__input">

  <label>Loan term:</label>
  <input type="text" formControlName="loanTerm" class="form__input">

  <button type="submit" [disabled]="!bankForm.valid">Save</button>
</form>
