<form [formGroup]="bankForm" (ngSubmit)="onFormSubmit()" class="form">
  <mat-form-field class="form__field">
    <mat-label>Введіть назву банку:</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Кредитний ліміт, грн:</mat-label>
    <input matInput type="text" formControlName="maxLoan">
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Місячна процентна ставка %:</mat-label>
    <input matInput type="text" formControlName="interestRate">
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Мінімальний перший внесок, грн:</mat-label>
    <input matInput type="text" formControlName="minDownPayment">
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Строк погашення кредиту, міс:</mat-label>
    <input matInput type="text" formControlName="loanTerm">
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!bankForm.valid"
    class="form__field"
  >Зберегти</button>
</form>
