.page {
  font-size: 15px;
}

.page__content {
  margin: 6em auto;
  width: 70%;
  max-width: 700px;
}

.title {
  text-align: left;
  color: #543290;
  font-weight: 400;
  font-family: Lora, serief;
  font-size: 3em;
}
