.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.page__links {
  display: flex;
  width: 40%;
  min-width: 200px;
  margin: 20px;
}

.link {
  color: #5D057A;
  text-decoration: none;
  font-family: Lora, serif;
  font-size: 2em;
  margin: 30px;
}
